<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zacharee1.systemuituner">

    <permission android:name="com.zacharee1.systemuituner.permission.WRITE_SETTINGS"
        android:protectionLevel="signature"
        />

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.zacharee1.systemuituner.permission.WRITE_SETTINGS" />
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:name=".App"
        tools:ignore="AllowBackup">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Splash"
            android:configChanges="orientation|screenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ImmersiveListSelector"
            android:exported="false"
            />
        <activity android:name=".activities.Intro"
            android:exported="false"
            android:theme="@style/IntroTheme"
            />
        <activity android:name=".activities.UISoundSelector"
            android:exported="false"
            />
        <activity android:name=".activities.LockscreenShortcutSelector"
            android:label="@string/feature_lockscreen_shortcuts"
            android:exported="false"
            />
        <activity android:name=".activities.PersistentActivity"
            android:label="@string/screen_persistent"
            android:exported="false"
            />
        <activity android:name=".activities.IconBlacklistActivity"
            android:label="@string/special_sub_icon_blacklist"
            android:exported="false"
            />
        <activity android:name=".activities.ExtraPermsRetroactive"
            android:exported="false"
            />
        <activity android:name=".activities.DemoModeActivity"
            android:exported="false"
            />
        <activity android:name=".activities.tutorial.TutorialActivity"
            android:exported="false"
            />
        <activity android:name=".activities.QSEditorActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            />
        <activity android:name=".activities.tasker.AddToIconBlacklistConfigureActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:label="@string/add_to_blacklist">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.tasker.RemoveFromIconBlacklistConfigureActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:label="@string/remove_from_blacklist">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.tasker.WriteSettingConfigureActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:label="@string/option_advanced_write_setting">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <service android:name=".services.Manager"
            android:exported="false"
            />
        <service
            android:name=".services.tiles.BatteryTile"
            android:icon="@drawable/battery_full"
            android:label="@string/tile_battery"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.tiles.ClockTile"
            android:icon="@drawable/progress_clock"
            android:label="@string/tile_clock"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.tiles.DemoTile"
            android:icon="@drawable/ic_baseline_tv_24"
            android:label="@string/tile_demo"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.tiles.HeadsUpTile"
            android:icon="@drawable/ic_baseline_notifications_active_24"
            android:label="@string/tile_heads_up"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.tiles.NightModeTile"
            android:icon="@drawable/ic_baseline_nights_stay_24"
            android:label="@string/tile_night_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.tiles.FullImmersiveTile"
            android:icon="@drawable/ic_baseline_fullscreen_24"
            android:label="@string/tile_full_immersive"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.tiles.NavImmersiveTile"
            android:icon="@drawable/ic_baseline_vertical_align_bottom_24"
            android:label="@string/tile_nav_immersive"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.tiles.StatusImmersiveTile"
            android:icon="@drawable/ic_baseline_vertical_align_top_24"
            android:label="@string/tile_status_immersive"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <receiver android:name=".receivers.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="moe.shizuku.api.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
    </application>

</manifest>